<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <meta name="author" content="benn0039">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"> </script>
        <script src="js/controllers.js"></script>
       
        <title>ANGULAR TODO LIST</title>
    </head>
    
    <body ng-controller="ToDoCtrl as appCtrl">
        <div class="wrapper">
            <h1>To Do List</h1>

            <form name="addItem" ng-submit="addItem.$valid && submit()"  novalidate>
                <input id="inputToDo" type="text" ng-model="taskDescrip" placeholder="New To Do ..." autofocus required>
                <button id="addToDo" type="submit">Add</button>
            </form>

            <ul>
                <div class="row" ng-repeat="task in tasks">
                    <input type="checkbox" ng-model="done" ng-click="setfocus()">
                    <li ng-class="{'high-priority': task.priority, complete: done}">
                        {{task.item}}
                    </li>
                   <img src="img/trash-2x.png" class="del_btn" ng-hide="!done" ng-click="delete($index)" />
                </div>
            </ul>
           
        </div>
    </body>
</html>
